body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: 1px solid #ffffff55;
    width: 250px;
    max-width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

button, input[type="range"] {
    margin: 10px 0;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover, input[type="range"]:hover {
    background-color: #34495e;
}

label {
    color: white;
    margin-bottom: 5px;
    font-size: 14px;
}

#instructions {
    margin-top: 15px;
    color: white;
    font-size: 12px;
    line-height: 1.4;
    border-top: 1px solid white;
    padding-top: 10px;
}

.instruction-item {
    margin-bottom: 10px;
}

.instruction-item span {
    font-weight: bold;
    color: #ecf0f1;
}

.instruction-item ul {
    list-style-type: none;
    padding-left: 10px;
}

.instruction-item ul li::before {
    content: "• ";
    color: #ecf0f1;
}

@media screen and (max-width: 600px) {
    #controls {
        width: 200px;
        padding: 10px;
    }
    
    button, input[type="range"] {
        font-size: 12px;
        padding: 8px;
    }
    
    #instructions {
        font-size: 11px;
    }
}

/* Estilos generales del contenedor de información */
#info-container {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 250px;
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ffffff55;
    z-index: 100;
    color: white;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    max-height: 60vh; /* Limitar el tamaño para dispositivos móviles */
}

@media screen and (max-width: 600px) {
    #info-container {
        width: 90%; /* Ajustar el ancho para dispositivos móviles */
        right: 5px;
        top: 100px;
        max-height: 50vh; /* Ajustar el alto para dispositivos móviles */
    }
}

/* Ajustes para modo horizontal en dispositivos móviles */
@media screen and (max-width: 600px) and (orientation: landscape) {
    #info-container {
        top: 50px; /* Elevar el contenedor cuando la pantalla esté en modo horizontal */
        max-height: 40vh; /* Reducir un poco más el alto para adaptarse a la pantalla horizontal */
    }
}

